*{
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
}
body{
    min-width: 300px;
    color: rgb(33, 33, 32);
    background-color: rgb(242, 242, 242);
    font-size: 1.3rem;
    line-height: 1.5;
}

/*
### Styling Navbar: Fixed at left side of the page! ###
*/

nav{
    display: block;
}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    height: 100%;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
    z-index: 1;
}
#navbar ul{
    border: 1px solid #5453538c;
    width: 339px;
    height: 100%;
    padding: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: #d9d9d9;
}
#navbar header{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}
#navbar ul li{
    position: relative;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #7a7979a2;
    padding: 15px 25px;
    font-size: 2rem;
}
#navbar a{
    text-decoration: none;
    color: #383838;
    font-size: 2rem;
}

/*
### Styling main section elements ###
*/

main{
    display: block;
}
#main-doc{
    position: relative;
    top: 0;
    margin-top: 0;
    margin-left: 360px;
    padding: 0 20px;
    z-index: -1;
}
main header{
    margin: 20px 0;
    margin-top: 40px;
    padding-top: 20px;
    font-size: 2.6rem;
    font-weight: 510;
}
main p{
    font-size: 1.6rem;
}
main ul li{
    list-style-type: disc;
    font-size: 1.6rem;
    line-height: 2;
}
#innerlist li{
    list-style-type: circle;
}
main a{
    text-decoration-line: underline;
    font-size: 1.6rem;
    color: inherit;
}

/*
### Styling Code element: ###
*/

code{
    display: block;
    background-color: #dbdbdb;
    border-radius: 5px;
    color: #444444;
    margin: 10px;
    padding: 15px;
    word-wrap: normal;
    word-break: normal;
    min-width: 400px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: monospace;
}

/*
### Media query for screens smaller than or equal to 815px ###
### Navbar should appear at top rather than left side: ###
*/

@media only screen and (max-width: 815px){
    #navbar{
        position: absolute;
        z-index: 1;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        min-width: 570px;
        height: 300px;
        border: none;
        border-bottom: 3px solid rgba(0, 22, 22, 0.4);
    }
    #navbar ul{
        border: 1px solid #5453538c;
        width: 100%;
        min-width: 570px;
        height: 208px;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        background-color: #d9d9d9; 
    }
    #navbar ul li{
        padding: 5px 35px;
    }
    #main-doc{
        position: relative;
        margin-left: 0;
        margin-top: 320px;
        z-index: -1;
        padding-left: 30px;
        min-width: 500px;
        max-width: 80%;
    }
}
